.main {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    padding: 10px;
    gap: 15px;
    flex: 1;
    justify-content: flex-start;
}
